.ContactData {
  width: 80%;
  margin: 20px auto;
  padding: 10px;
  box-shadow: 0 2px 3px #ccc;
  border: 1px solid #eee;
  box-sizing: border-box;
  text-align: center;
}

@media (min-width: 600px) {
  .ContactData {
    width: 500px;
  }
}
